
		<div class="col col-sm-6 col-questions">
			<h3>What do you think?</h3>

			<label for="username" class="input-label">Your Name<br /><input class="form-control" id="username" /></label><br />

			<label for="sympathy" id="q1" class="input-label">Please enter your thoughts.<br /><input class="form-control" id="sympathy" /></label><br />

			<button type="button" class="btn btn-large btn-save-note">Save Note</button>

			<button type="button" class="btn btn-large btn-show-notes">View Saved Notes</button>

		</div><!-- /col-questions -->
	